/* 
    #google font - font-family: 'Overpass', sans-serif; 400 & 700
*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


/* 
    # Custom properties
=============================*/

:root {

    /* colors */
    --main-color: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);

    /* typography */
    --font-famil: 'Overpass', sans-serif;
    --fs-p: 15px;
}


/* 
    # Reset
===================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-famil);
}

body {
    min-height: 100vh;
    background: var(--very-dark-blue);
    color: var(--white);
    font-size: var(--fs-p);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 350px;
    width: 90%;
    margin-inline: auto;
    background: linear-gradient(220deg, var(--dark-blue) , var(--very-dark-blue));
    box-shadow: 0 0 6px var(--dark-blue);
    padding: 30px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

.wrapper .star {
    width: max-content;
    background-color: var(--dark-blue);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px var(--very-dark-blue);
}

.wrapper .title {
    margin-block: 20px;
    font-weight: 700;
    font-size: 20px;
}

.text {
    color: var(--light-grey);
    font-size: var(--fs-p);
    margin-block-end: 20px;
    font-weight: 400;
}

.wrapper .circles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 20px;
}

.circles .circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    cursor: pointer;
    transition: 0.25s;
}

/* 
    js related class
*/
.circles .circle.active {
    background-color: var(--medium-grey);
    color: white;
}


.circles .circle:hover {
    background-color: var(--main-color);
    color: var(--white);
}


.btn {
    display: inline-block;
    width: 100%;
    background-color: var(--main-color);
    padding: 15px 0;
    border-radius: 30px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    outline: none;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;
}

.btn:is(:hover, :focus-visible){
    background-color: var(--white);
    color: var(--main-color);
}



/* 
    # thankyou container
*/

.thank-container{
    max-width: 350px;
    width: 90%;
    margin-inline: auto;
    background: linear-gradient(220deg, var(--dark-blue) , var(--very-dark-blue));
    box-shadow: 0 0 6px var(--dark-blue);
    padding: 30px 15px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
    display: none;
}

.thank-container img {
    margin-block-end: 20px;
    height: 80px;
    width: 100px;
}

.rated-star {
    width: max-content;
    margin-inline: auto;
    font-size: 15px;
    font-weight: 400;
    border-radius: 10px;
    color: var(--main-color);
    background-color: var(--dark-blue);
    padding: 10px;
}

.thank-container > h3 {
    margin-block: 20px;
}


/* 
    # js related classes
*/
body.show .thank-container {
    display: block;
}

body.show .wrapper {
    display: none;
}